* {
  box-sizing: border-box; }

body {
  height: 100%;
  min-height: 100vh;
  margin: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #34343f;
  font-family: "omnes-pro";
  font-size: 23px; }

h1, h2, h3, h4 {
  margin: 0;
  font-family: "omnes-pro";
  font-weight: normal; }

a {
  text-decoration: none; }

#menutoggle {
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 99;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.2);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out; }
  #menutoggle:not(.show-menu):hover {
    color: #3bc492; }
  #menutoggle.show-menu:hover {
    color: rgba(0, 0, 0, 0.3); }
  #menutoggle:active {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8); }

#menuwrapper {
  width: 100vw;
  height: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  overflow: visible;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all 0.35s cubic-bezier(0, 0.8, 0.7, 1);
  -moz-transition: all 0.35s cubic-bezier(0, 0.8, 0.7, 1);
  -ms-transition: all 0.35s cubic-bezier(0, 0.8, 0.7, 1);
  transition: all 0.35s cubic-bezier(0, 0.8, 0.7, 1);
  -webkit-transform: translateY(-100vh);
  -moz-transform: translateY(-100vh);
  -o-transform: translateY(-100vh);
  -ms-transform: translateY(-100vh);
  transform: translateY(-100vh); }
  #menuwrapper.show-menu {
    opacity: 1;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0); }
    #menuwrapper.show-menu .menu .wrapper {
      -webkit-transform: translateY(0);
      -moz-transform: translateY(0);
      -o-transform: translateY(0);
      -ms-transform: translateY(0);
      transform: translateY(0); }
  #menuwrapper .menu {
    width: 100vw;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: rgba(61, 191, 217, 0.95);
    color: rgba(0, 19, 26, 0.5);
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -ms-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out; }
    #menuwrapper .menu .wrapper {
      height: 85vh;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      text-align: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      align-self: center;
      -webkit-align-self: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -webkit-box-align: center;
      -webkit-transition: all 0.35s 0.1s cubic-bezier(0, 0.8, 0.7, 1.05);
      -moz-transition: all 0.35s 0.1s cubic-bezier(0, 0.8, 0.7, 1.05);
      -ms-transition: all 0.35s 0.1s cubic-bezier(0, 0.8, 0.7, 1.05);
      transition: all 0.35s 0.1s cubic-bezier(0, 0.8, 0.7, 1.05);
      -webkit-transform: translateY(-100vh);
      -moz-transform: translateY(-100vh);
      -o-transform: translateY(-100vh);
      -ms-transform: translateY(-100vh);
      transform: translateY(-100vh); }
    #menuwrapper .menu footer {
      height: 15vh;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center;
      align-content: flex-end; }
    #menuwrapper .menu h1 {
      margin-bottom: 2vh;
      color: white;
      font-size: 60px;
      font-weight: 300;
      line-height: 1.25; }
    #menuwrapper .menu a {
      color: inherit;
      border-bottom: 2px solid rgba(0, 0, 0, 0.1);
      -webkit-transition: all 0.1s ease-out;
      -moz-transition: all 0.1s ease-out;
      -ms-transition: all 0.1s ease-out;
      transition: all 0.1s ease-out; }
      #menuwrapper .menu a:hover {
        border-bottom-color: rgba(0, 0, 0, 0.2); }

#bodywrapper {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

#droptarget {
  margin: 0;
  padding: 0px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: height 0.25s cubic-bezier(0, 0.8, 0.7, 1.05);
  -moz-transition: height 0.25s cubic-bezier(0, 0.8, 0.7, 1.05);
  -ms-transition: height 0.25s cubic-bezier(0, 0.8, 0.7, 1.05);
  transition: height 0.25s cubic-bezier(0, 0.8, 0.7, 1.05); }
  #droptarget.is-closed {
    height: 15vh;
    background-color: #eeeeee; }
    #droptarget.is-closed h1 {
      color: rgba(52, 52, 63, 0.5); }
  #droptarget.is-open {
    height: 40vh;
    background-color: #3bc492; }
    #droptarget.is-open h1 {
      color: rgba(0, 19, 26, 0.3); }

#droptarget h1 {
  margin: 0 auto;
  font-size: 23px;
  font-weight: 400;
  text-align: center;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out; }

#fonts {
  width: 100%;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center; }

#fonts li {
  margin: 8px 4px;
  border-radius: 3px;
  background-color: #3bc492;
  clear: both;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: rows;
  -webkit-align-items: rows;
  -ms-flex-align: rows;
  align-items: rows;
  flex-wrap: wrap;
  list-style: none;
  cursor: pointer;
  font-size: 23px;
  line-height: 1;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out; }
  #fonts li:not(.active):hover .name {
    color: #34343f; }
  #fonts li:not(.active):active {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -o-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9); }
  #fonts li .name {
    padding: 7px 3px 10px 10px; }
  #fonts li .delete {
    padding: 15px 10px 0 5px;
    color: rgba(0, 19, 26, 0.2) !important;
    font-size: 12px; }
    #fonts li .delete:hover {
      color: rgba(0, 19, 26, 0.4) !important; }

#fonts li span {
  float: left;
  display: inline-block;
  box-sizing: border-box;
  color: white;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -ms-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out; }
  #fonts li span:nth-of-type(2) {
    margin-left: 8px;
    display: none;
    position: relative;
    top: -0.15em;
    font-size: 16.5px; }

#fonts li:not(.active) {
  background-color: #eeeeee; }
  #fonts li:not(.active) span {
    color: rgba(52, 52, 63, 0.5); }

#main {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex: 1;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center; }
  #main:hover #typecontainer .textline {
    border-bottom-color: #cccccc; }
  #main #typecontainer {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex: 1;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
    #main #typecontainer div {
      width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-flex: 1;
      -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
      flex: 1;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      text-align: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -ms-flex-align: center;
      align-items: center; }
      #main #typecontainer div .textline {
        clear: both;
        width: 80%;
        min-height: 300px;
        margin: 8px 10%;
        padding: 75px 0;
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex: 1;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        text-align: center;
        border-bottom: 2px dotted transparent;
        line-height: 150px;
        font-style: normal;
        text-decoration: none;
        text-rendering: optimizeLegibility;
        /*-webkit-font-feature-settings: "liga"; Currently broken in Chrome >= v22. Falls back to text-rendering. Safari is unaffected. */
        -moz-font-feature-settings: "liga=1";
        -moz-font-feature-settings: "liga";
        -ms-font-feature-settings: "liga" 1;
        -o-font-feature-settings: "liga";
        font-feature-settings: "liga";
        -webkit-transition: all 0.25s ease-out;
        -moz-transition: all 0.25s ease-out;
        -ms-transition: all 0.25s ease-out;
        transition: all 0.25s ease-out; }
        #main #typecontainer div .textline:hover, #main #typecontainer div .textline:active, #main #typecontainer div .textline:focus {
          outline: none;
          -moz-outline: none;
          appearance: normal;
          -webkit-appearance: none; }
        #main #typecontainer div .textline:focus, #main #typecontainer div .textline:hover {
          border-bottom-color: #3bc492; }
